<div class="notifications">
<%= flash[:notice] %>
<%= flash[:alert] %>
</div>
<div class="container-fiuld user">
    <div class="row">
        <div class="col-lg-2 user-nav user-nav-pc d-lg-block d-none">
            <ul class="active">
                <%=link_to "アカウント",account_path(id: current_user) %>
                <%=link_to "プロフィール",profile_path(id: current_user) %>
            </ul>
        </div>
        <div class="col-lg-2 user-nav usernav-mobile d-lg-none">
            <ul class="active">
                <%=link_to "アカウント",account_path(id: current_user) %>
                <%=link_to "プロフィール",profile_path(id: current_user) %>
            </ul>
        </div>
        <div class="col-lg-10 user-view">
            <div class="user-view-box">
                <div class="update-content">
                    <div class="row">
                        <h5>プロフィール</h5>
                    </div>
                </div>
                    <%= image_tag '/assets/default_icon-9263fc59c414b7228d256fc178dcb22183561357950a68f5ad086ba7ee054974.jpeg', class:"icon-image, host-icon" %>
                <div class="update-content">
                    <%= form_with model: @user do |f| %>
                        <%= f.hidden_field :id %>
                        <%= f.label :image, 'アイコン画像', class:"col-md-6 offset-md-3"%>
                        <%= f.file_field :image, class:"mb-4 col-md-9" %>
                        <%= f.label :name, '名前', class:"col-md-3 required-a" %>
                        <%= f.text_field :name, class:"form-control mb-4 col-md-9" %>
                        <%= f.label :profile, '自己紹介', class:"col-md-3 required-a" %>
                        <%= f.text_area :profile, rows:5, class:"form-control mb-4 col-md-9" %>
                        <%= f.submit "更新", class:"col-md-2 btn btn-primary mx-3" %>
                    <% end %>
                </div>
            </div>
        </div>
    </div>
</div>


