<h3>登録済みルーム一覧</h3>

    <table>
      <thead>
        <tr>
          <%= hidden_field_tag "ルームID" %>
          <th>ルーム画像</th>
          <th>ルーム名</th>
          <th>ルーム紹介</th>
          <th>合計料金</th>
          <th>作成日時</th>
        </tr>
      </thead>

      <tbody>
        <% @rooms.each do |room| %>
            <tr>
              <%= hidden_field_tag room.id %>
              <td><%= link_to image_tag("#{room.room_image.url}", class:"room-post-image"), controller: 'rooms', action: 'show', id: room.id %></td>
              <td><%= link_to "#{room.room_name}", controller: 'rooms', action: 'show', id: room.id  %></td>
              <td><%= room.room_introduction %></td>
              <td>¥<%= room.room_price %></td>
              <td><%= room.created_at %></td>
            </tr>
        <% end %>
      </tbody>
    </table>