<%= render "shared/error", obj: @reservation %>
<div class="row">
    <div class= "container reservations-new">
        <div class= "row">
            <div class= "col-6 offset-3">
                <div class= "reservations-new-nav">
                    <h4 class= "reservations-new-check-content">
                    予約内容確認
                    </h4>
                    <h5 class= "price-icon">
                    <%= @room.room_price %>円/日
                    </h5>
                    <div class= "reservation-new-date-select">
                    <%= form_with model: @reservations, url: {controller: 'reservation', action: 'create' } do |f| %>
                        <%= f.hidden_field :id %>
                        <%= f.label :start_date,"開始日" %></br>
                        <%= f.text_field :start_date, value: @reservation.start_date, readonly: true %></br>
                        <%= f.label :end_date, "終了日" %></br>
                        <%= f.text_field :end_date, value: @reservation.end_date, readonly: true %></br>
                        <h6 class="reservations-new-check-content">
                        使用日数 : <%= @reservation.stay_days %>日</br>
                        </h6>
                        <h6 class="reservations-new-check-content">
                        <%= f.label :person_num,"人数" %>
                        <%= f.text_field :person_num, value: @reservation.person_num, readonly: true %></br>
                        </h6>
                        <%= f.label :total_price, "合計金額" %></br>
                        <%= f.text_field :total_price, value: @room.room_price * @reservation.stay_days * @reservation.person_num, readonly: true %></br>
                        <%= f.hidden_field :room_id, value: @room.id %>
                        <p class="reservations-new-check-content">
                        上記内容でよろしければ「予約を確定」を押してください
                        </p>
                        <%= f.submit "予約を確定" %></br>
                        <%= link_to "戻る", "http://localhost:3000/rooms/#{@room.id}" %>
                    <% end %>
                </div>
            </div>
        </div>
    </div>
</div>
        

