<!DOCTYPE html>
<html>
  <head>
    <title>Reservation</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  

  <header class="header">
  <div class="header-inner">
    <div class="header-left-nav">
        <%= link_to homes_index_path do %>
          <%= image_tag '/assets/logo.png' %>
        <% end %>
        <%#
        <a href="/"><img alt="サイトのロゴ画像" src="https://presite-potepancamp-rails-02.herokuapp.com/assets/logo.png" /></a>
        %>
        <%= form_with url: "/search", method: :get do |form| %>
          <%= form.label :query, "Search for:" %>
          <%= form.text_field :query %>
          <%= form.submit "探す" %>
        <% end %>
    </div>
    <div class="header-right-nav">
        <div class="nav-item">
          <% if user_signed_in? %>
            <label for="menu">メニュー</label>
            <input type="checkbox" id="menu">
              <ul class="dropdown">
                  <%=link_to "ルーム登録",new_room_path %>
                  <%=link_to "予約済みルーム一覧",rooms_path %>
                  <%=link_to "登録済みルーム一覧",rooms_path %>
                  <%=link_to "設定",account_path(current_user) %>
                  <%=link_to "ログアウト",destroy_user_session_path, method: :delete %>
              </ul>
          <% else %>
            <ul>
              <%= link_to "ログイン", new_user_session_path, class: "btn btn-primary my-2 mx-3" %>
              <%= link_to "登録する", new_user_registration_path, class: "btn btn-secondary" %>
            </ul>
          <% end %>
        </div>
    </div>
  </div>
  </header>
  
      <%= yield %>
  
  <footer class="footer">
      <p>© 2022 POTEPAN.INC.</p>
  </footer>
  
  </body>
  
</html>
